body {
  margin: 0.5rem;
  background: rgb(246, 246, 246);
  /* font-size: 16px; */
}

.formBody {
  margin: 0.5rem;
}

.locations {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}

.dep {
  margin-bottom: 0.5rem;
}

select {
  border: 1px solid white;
  border-radius: 8px;
  color: rgb(119, 176, 233);
  background-color: rgb(214, 237, 247);
  padding: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* ALL THE INPUT BOXES */
.departure-date,
.return-date {
  display: inline-block;
  margin: 0.5rem 2rem 0 0;
}

input[type='date'] {
  color: #95a5a6;
  font-family: 'Helvetica', arial, sans-serif;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  margin-top: 0.5rem;
}

input[type='date'],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.dates-details {
  background: white;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1rem;
}

.flight-dates {
  margin-bottom: 1rem;
}

/* DATES */
h3 {
  margin: 0;
}

/* PASSENGERS */
.adults,
.children,
.infants {
  margin: 0.2rem 0.5rem 0 0;
  display: inline-block;
  /* font-size: 0.7rem; */
}

.adults-button,
.children-button,
.infants-button {
  /* font-size: 0.6rem; */
  padding: 0.1rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

/* SEARCH BUTTON */
.search {
  width: 300px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.search:hover {
  background-color: #2a94cd;
  box-shadow: 0px 15px 20px rgba(46, 104, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* SEARCH RESULTS */

.search-results {
  column-count: 2;
  margin: 0.5rem;
}

.prev-search-results,
.saved-trips {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  background: white;
}

/* SIDEBAR */

nav h1 {
  margin: 0.5rem;
}

ul li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: rgb(119, 176, 233);
  background-color: rgb(214, 237, 247);
  padding: 10px 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

nav a:hover {
  background-color: #2a94cd;
  box-shadow: 0px 15px 20px rgba(46, 104, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* MEDIA QUERY */
/* @media screen and (min-width: 390px) {
  select option {
    font-size: 2rem;
  }
} */
